* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Gotham Book";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  scroll-behavior: auto;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.invisible {
  opacity: 0 !important;
}

.visible {
  opacity: 1 !important;
}

.app .edit-icon {
  display: none !important;
}

.edit-icon {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.editable-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.selectable-image {
  cursor: pointer;
}
.selectable-image:hover {
  opacity: 0.5;
}

.selected-image {
  opacity: 0.5;
}

/* ****************  FONTS  **************** */
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Ultra";
  src: url("../fonts/Gotham-Ultra.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
.heading-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heading-title .purple-title {
  font-family: "Gotham Ultra";
  color: #5B28B5;
  text-align: center;
  font-size: 2.1rem;
}
@media only screen and (min-width: 768px) {
  .heading-title .purple-title {
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .heading-title .purple-title {
    font-size: 2.9rem;
    text-align: left;
  }
}

.tilt-left {
  transform: rotate(-1deg);
}

.tilt-right {
  transform: rotate(1deg);
}

.font-medium {
  font-family: "Gotham Medium";
  font-size: 1.2rem;
  line-height: 1.4;
}
@media only screen and (min-width: 1200px) {
  .font-medium {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1.1rem;
  line-height: 1.4;
}

.purple-button {
  border: none;
  padding: 20px 40px;
  border-radius: 50px;
  font-family: "Gotham Medium";
  font-size: 1rem;
  color: white;
  background: #5B28B5;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 300ms;
}
@media only screen and (min-width: 1200px) {
  .purple-button {
    padding: 15px 30px;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}
.purple-button:hover {
  background-color: #1D1330;
}

.controls {
  min-width: 320px;
  max-width: 400px;
  width: 90%;
  margin: 30px auto;
}
@media only screen and (min-width: 992px) {
  .controls {
    width: 400px;
    margin: 0;
  }
}
.controls .selectors {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .controls .selectors {
    width: 250px;
    margin: 20px auto -55px;
  }
}
.controls .selectors div {
  height: 8px;
  width: 30%;
  border-radius: 50px;
  background: #EBEBEB;
  margin: 0 3px;
}
.controls .selectors .selector-active {
  background-color: #1D1330;
}
.controls .arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.controls .arrows .arrow-left,
.controls .arrows .arrow-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background: #ECE1FD;
  cursor: pointer;
}

.loading-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading-screen__icon {
  position: relative;
}
.loading-screen__icon .palette-icon {
  rotate: 20deg;
}
.loading-screen__icon .paint-circle {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation-duration: 3500ms;
  animation-iteration-count: infinite;
}
.loading-screen__icon .paint-circle:nth-of-type(1) {
  background-color: rgb(231, 125, 125);
  top: 52px;
  left: 14px;
  animation-name: circle-1;
}
.loading-screen__icon .paint-circle:nth-of-type(2) {
  background-color: rgb(142, 218, 80);
  top: 21px;
  left: 30px;
  animation-name: circle-2;
}
.loading-screen__icon .paint-circle:nth-of-type(3) {
  background-color: rgb(125, 167, 231);
  top: 17px;
  left: 66px;
  animation-name: circle-3;
}
.loading-screen__icon .paint-circle:nth-of-type(4) {
  background-color: rgb(166, 125, 231);
  top: 41px;
  left: 90px;
  animation-name: circle-4;
}
@keyframes circle-1 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
}
@keyframes circle-2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
}
@keyframes circle-3 {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  56% {
    opacity: 1;
  }
}
@keyframes circle-4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
}

.nav-wrap {
  position: relative;
  z-index: 1000;
  padding: 0 7%;
}
@media only screen and (min-width: 992px) {
  .nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  }
}
.nav-wrap .show-dropdown-btn {
  position: absolute;
  top: -30px;
  left: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: white;
  transition-property: background-color;
  transition-duration: 300ms;
  z-index: 9001;
  cursor: pointer;
}
.nav-wrap .show-dropdown-btn:hover {
  background-color: black;
  color: white;
}
.nav-wrap .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
@media only screen and (min-width: 768px) {
  .nav-wrap .navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.nav-wrap .navbar .logo .nav-brand {
  height: 60px;
  width: 60px;
}
.nav-wrap .navbar .logo .nav-brand img {
  width: 100%;
}
.nav-wrap .navbar .logo h3 {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav-wrap .navbar .logo h3 {
    display: inline;
  }
}
.nav-wrap .navbar .navbar-toggler {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .navbar .navbar-toggler {
    display: none;
  }
}
.nav-wrap .navbar .navbar-toggler .toggler-div {
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background: black;
  transition: 400ms;
}
.nav-wrap .navbar .navbar-toggler .toggler-open-1 {
  transform: translateY(13px) rotate(45deg);
}
.nav-wrap .navbar .navbar-toggler .toggler-open-3 {
  transform: translateY(-14px) rotate(-45deg);
}
.nav-wrap .navbar .navbar-toggler .toggler-open {
  opacity: 0;
}
.nav-wrap .navbar .navbar-toggler .toggler-closed {
  opacity: 1;
}
.nav-wrap .nav-links-container {
  height: calc(100vh - 100px);
  background-color: #1D1330;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 50px;
  padding: 0 30px;
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  z-index: inherit;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container {
    position: static;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    background-color: white;
  }
}
.nav-wrap .nav-links-container .nav-link {
  cursor: pointer;
}
.nav-wrap .nav-links-container .nav-link .link {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 1.4rem;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link .link {
    color: #1D1330;
    font-size: 1rem;
    font-weight: normal;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-wrap .nav-links-container .nav-link .link {
    font-size: 1.1rem;
  }
}
.nav-wrap .nav-links-container .active-nav-link {
  border-bottom: 3px solid #5B28B5;
}
.nav-wrap .nav-links-container .nav-link-drop-down {
  height: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down {
    flex-wrap: nowrap;
    gap: 10px;
  }
  .nav-wrap .nav-links-container .nav-link-drop-down:hover > div {
    height: 240px;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-arrow {
  transition: 300ms;
}
.nav-wrap .nav-links-container .nav-link-drop-down .arrow-white {
  margin-left: 20px;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .arrow-white {
    display: none;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .arrow-purple {
  display: none;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .arrow-purple {
    display: block;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .arrow-up {
  transform: rotate(180deg);
}
@media only screen and (min-width: 1200px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .arrow-up {
    transform: rotate(0deg);
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu {
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1000;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    padding: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: linear-gradient(to top, white, white 95%, rgba(0, 0, 0, 0) 95%);
    box-shadow: 4px 13px 12px -10px rgba(0, 0, 0, 0.22);
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link {
  margin: 25px 0;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 30px 0;
    border-top: 1px solid #ECE1FD;
    width: 100%;
    cursor: pointer;
  }
  .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link:first-child {
    border-top: none;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link:hover .icon-inner {
  transform: rotateX(180deg);
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link__anchor {
  color: white;
  font-weight: lighter;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link__anchor {
    color: #1D1330;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon {
  display: none;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon {
    display: inline;
    height: 30px;
    width: 30px;
    transition: 0.3s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon .icon-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-front, .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-front {
  background: #ECE1FD;
  border-radius: 50px;
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-back {
  background-color: #5B28B5;
  border-radius: 50px;
  transform: rotateX(180deg);
}
.nav-wrap .nav-links-container .nav-link-drop-down .drop-down-open {
  height: 145px;
}
@media only screen and (min-width: 992px) {
  .nav-wrap .nav-links-container .nav-link-drop-down .drop-down-open {
    height: 240px;
  }
}
.nav-wrap .nav-links-container .nav-link-drop-down .cms-dropdown {
  height: 300px;
}
.nav-wrap .menu-shown {
  left: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 10%;
  background-color: #1D1330;
}
@media only screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 150px 10%;
  }
}
.footer .footer-text, .footer .footer-title {
  color: #ECE1FD;
}
.footer .footer-text {
  font-size: 1rem;
}
@media only screen and (min-width: 992px) {
  .footer .footer-text {
    font-size: 0.7rem;
  }
}
.footer .footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 15px;
}
@media only screen and (min-width: 768px) {
  .footer .footer-section {
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .footer .footer-section {
    align-items: flex-start;
  }
}
.footer .footer-section .hours-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 15px;
}
.footer .footer-section .contact-item .contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer-section .social-icons-container {
  display: flex;
  gap: 20px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-hours {
    flex-direction: row;
  }
}

.hero {
  height: 100vh;
  padding-top: 100px;
  background-image: url("../images/home/hero_background.svg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
}
@media only screen and (min-width: 992px) {
  .hero {
    padding-top: 150px;
    height: 70vh;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    height: 100vh;
    background-size: 100% 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 150px 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .hero {
    padding: 150px 20%;
  }
}
.hero__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
@media only screen and (min-width: 992px) {
  .hero__1 {
    gap: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__1 {
    align-items: flex-start;
  }
}
.hero__1 .heading-title {
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  .hero__1 .heading-title {
    max-width: 500px;
  }
}
.hero__1-text {
  width: 90%;
  max-width: 600px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .hero__1-text {
    text-align: left;
    max-width: 475px;
  }
}
.hero__2 {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .hero__2 {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-100px);
    height: fit-content;
  }
}
.hero__2-img-1 {
  width: 75%;
  object-fit: cover;
}
.hero__2-img-2 {
  object-fit: contain;
  width: 22%;
  transform: translateY(20px);
}

.content {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media only screen and (min-width: 1200px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 79px;
    padding: 0 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .content {
    padding: 0 20%;
  }
}
.content .heading-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 15px;
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  .content-item {
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .content-item {
    align-items: flex-start;
    max-width: 27%;
  }
}
.content-item__icon {
  height: 60px;
  width: 60px;
  background-color: grey;
  border-radius: 50%;
  position: relative;
}
.content-item__icon:hover > .edit-icon {
  display: block;
}
.content-item__icon .edit-icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.content-item__icon .edit-icon__icon {
  width: 20px;
}
.content-item__title {
  font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
  .content-item__text {
    text-align: center;
    max-width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  .content-item__text {
    text-align: left;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 150px 0;
}
@media only screen and (min-width: 1200px) {
  .services {
    padding: 0 15%;
    gap: 70px;
  }
}
.services .services-title {
  transform: rotate(-1deg);
}
.services .services-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
  }
}
.services .services-wrap .services-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  margin-bottom: 200px;
  background-size: cover;
  width: 90%;
  max-width: 500px;
}
@media only screen and (min-width: 992px) {
  .services .services-wrap .services-img {
    margin-bottom: 225px;
  }
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap .services-img {
    height: 85vh;
    max-height: 700px;
    width: 450px;
    margin-bottom: 0;
  }
}
.services .services-wrap .services-img:hover > .edit-icon {
  display: block;
}
.services .services-wrap .services-img .edit-icon {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.services .services-wrap .services-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.services .services-wrap .services-img .services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: absolute;
  top: 50%;
  width: 90%;
  padding: 30px 20px;
  border: 2px solid black;
  border-radius: 8px;
  background: white;
  box-shadow: 7px 10px #1D1330;
  transition: 0.3s;
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap .services-img .services-card {
    top: 25%;
    width: 570px;
    align-items: flex-start;
    padding: 40px;
  }
}
.services .services-wrap .services-img .services-card .card-title,
.services .services-wrap .services-img .services-card .service-card-text,
.services .services-wrap .services-img .services-card .card-button {
  text-align: center;
}
.services .services-wrap .services-img .services-card h2 {
  font-family: "Gotham Bold";
  color: #1D1330;
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  .services .services-wrap .services-img .services-card h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .services .services-wrap .services-img .services-card h2 {
    font-size: 32px;
  }
}
.services .services-wrap .services-img .services-card .service-card-text {
  font-size: 0.9rem;
}
@media only screen and (min-width: 992px) {
  .services .services-wrap .services-img .services-card .service-card-text {
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap .services-img .services-card .service-card-text {
    text-align: left;
  }
}
.services .services-wrap .services-img .left-card {
  left: -100px;
  opacity: 0;
  z-index: 100;
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap .services-img .left-card {
    left: 60%;
  }
}
.services .services-wrap .services-img .middle-card {
  opacity: 1;
  left: 5%;
  z-index: 200;
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap .services-img .middle-card {
    left: 70%;
  }
}
.services .services-wrap .services-img .right-card {
  left: 100px;
  opacity: 0;
  z-index: 100;
}
@media only screen and (min-width: 1200px) {
  .services .services-wrap .services-img .right-card {
    left: 80%;
  }
}
.services .services-wrap .bg-1 {
  background-image: url("../images/home/services_bg_1.jpg");
}
.services .services-wrap .bg-2 {
  background-image: url("../images/home/services_bg_2.jpg");
}
.services .services-wrap .bg-3 {
  background-image: url("../images/home/services_bg_3.jpg");
}
.services .services-editable {
  flex-direction: column;
  align-items: flex-start;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 1200px) {
  .testimonials {
    gap: 70px;
  }
}
.testimonials .testimonial-cards {
  width: 90%;
  height: 300px;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .testimonials .testimonial-cards {
    height: 390px;
  }
}
.testimonials .testimonial-cards .testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  transition: 500ms;
  background-color: white;
}
@media only screen and (min-width: 1200px) {
  .testimonials .testimonial-cards .testimonial-card {
    width: 35%;
  }
}
.testimonials .testimonial-cards .testimonial-card .card-text,
.testimonials .testimonial-cards .testimonial-card .card-author {
  text-align: center;
}
.testimonials .testimonial-cards .testimonial-card .card-text {
  font-size: 0.9rem;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .testimonials .testimonial-cards .testimonial-card .card-text {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
.testimonials .testimonial-cards .testimonial-card .card-author {
  font-size: 0.7rem;
  font-weight: bold;
  color: #5B28B5;
}
@media only screen and (min-width: 768px) {
  .testimonials .testimonial-cards .testimonial-card .card-author {
    font-size: 1rem;
  }
}
.testimonials .testimonial-cards .test-middle {
  transform: translateY(-10px);
  left: 5%;
  z-index: 1000;
}
@media only screen and (min-width: 1200px) {
  .testimonials .testimonial-cards .test-middle {
    left: 32%;
  }
}
.testimonials .testimonial-cards .test-left {
  left: -90%;
  z-index: 100;
}
@media only screen and (min-width: 1200px) {
  .testimonials .testimonial-cards .test-left {
    left: -8%;
  }
}
.testimonials .testimonial-cards .test-right {
  left: 100%;
  z-index: 100;
}
@media only screen and (min-width: 1200px) {
  .testimonials .testimonial-cards .test-right {
    left: 72%;
  }
}
.testimonials .testimonial-editable {
  display: flex;
  gap: 50px;
}
.testimonials .testimonial-editable .testimonial-card-editable {
  position: static;
  transform: translateY(0);
  height: fit-content;
}

.book-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 5%;
  height: 370px;
  width: 100%;
  margin-top: 100px;
  background-image: url("../images/home/book_now_background.svg");
  background-repeat: no-repeat;
  background-size: 100% 370px;
  background-position: bottom;
}

.services__section {
  background-image: url("../images/services/top_section_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  padding: 80px 5%;
  margin-bottom: 80px;
}
.services__section:nth-child(2) {
  background-image: url("../images/services/middle_section_bg.svg");
}
@media only screen and (min-width: 992px) {
  .services__section:nth-child(2) {
    flex-direction: row-reverse;
  }
}
.services__section:nth-child(3) {
  background-image: url("../images/services/bottom_section_bg.svg");
}
@media only screen and (min-width: 992px) {
  .services__section {
    display: flex;
    justify-content: space-between;
    padding: 80px 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .services__section {
    padding: 80px 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .services__section {
    padding: 80px 20%;
  }
}
@media only screen and (min-width: 992px) {
  .services__section-text {
    width: 55%;
    max-width: 500px;
  }
  .services__section-text .heading-title {
    justify-content: flex-start;
  }
  .services__section-text .heading-title .purple-title {
    text-align: left;
    max-width: 400px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1200px) {
  .services__section-text .heading-title .purple-title {
    font-size: 2.9rem;
  }
}
.services__section-text .description {
  text-align: center;
  margin: 30px auto 60px;
  font-size: 1.2rem;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .services__section-text .description {
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .services__section-text .description {
    margin: 30px 0 60px;
  }
}
.services__section-text .button-container {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  .services__section-text .button-container {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .services__section-text .button-container {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }
}
.services__section-text .button-container .services-learn-more-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .services__section-text .button-container .services-learn-more-btn {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .services__section-text .button-container .services-learn-more-btn {
    width: 47%;
  }
  .services__section-text .button-container .services-learn-more-btn .purple-button {
    width: 100%;
  }
}
.services__section-text .button-container .purple-button {
  width: 80%;
  max-width: 400px;
}
@media only screen and (min-width: 1200px) {
  .services__section-text .button-container .purple-button {
    width: 47%;
  }
}
.services__section-img {
  display: none;
}
@media only screen and (min-width: 992px) {
  .services__section-img {
    display: block;
    width: 40%;
    aspect-ratio: 1/1.5;
    border-radius: 8px;
    position: relative;
  }
  .services__section-img:hover > .edit-icon {
    display: block;
  }
  .services__section-img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.site-path {
  width: 100%;
}
.site-path__text {
  color: #1D1330;
  font-size: 0.9rem;
}

.bullet-point {
  padding-left: 2%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.bullet-point__circle {
  height: 15px;
  min-width: 15px;
  border-radius: 50%;
  background-color: #5B28B5;
  transform: translateY(5px);
}

.private-parties .site-path {
  padding: 0 5%;
}
@media only screen and (min-width: 992px) {
  .private-parties .site-path {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .private-parties .site-path {
    padding: 0 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .private-parties .site-path {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 2000px) {
  .private-parties .site-path {
    padding: 0 25%;
  }
}
.private-parties .private-parties-section {
  margin: 50px auto;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
@media only screen and (min-width: 992px) {
  .private-parties .private-parties-section {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .private-parties .private-parties-section {
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1700px) {
  .private-parties .private-parties-section {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 2000px) {
  .private-parties .private-parties-section {
    padding: 0 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .private-parties .private-parties-section__text {
    width: 40%;
  }
}
.private-parties .private-parties-section__text .heading-title {
  justify-content: flex-start;
}
.private-parties .private-parties-section__text .heading-title .purple-title {
  text-align: left;
}
.private-parties .private-parties-section__text-description {
  margin: 20px 0 30px;
}
.private-parties .private-parties-section__images {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .private-parties .private-parties-section__images {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .private-parties .private-parties-section__images .image-container {
    position: relative;
  }
  .private-parties .private-parties-section__images .image-container:hover > .edit-icon {
    display: block;
  }
  .private-parties .private-parties-section__images .image-container .section-image {
    box-shadow: 7px 10px #ECE1FD;
    border-radius: 8px;
  }
}
.private-parties .purple-button {
  margin-bottom: 70px;
}

.paint-night {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 992px) {
  .paint-night {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .paint-night {
    padding: 0 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .paint-night {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 2000px) {
  .paint-night {
    padding: 0 25%;
  }
}
.paint-night__section {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
@media only screen and (min-width: 1200px) {
  .paint-night__section {
    flex-direction: row;
    justify-content: space-between;
  }
}
.paint-night__section-text {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .paint-night__section-text {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .paint-night__section-text .heading-title {
    justify-content: flex-start;
  }
}
.paint-night__section-text-description {
  margin: 20px 0 50px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .paint-night__section-text-description {
    text-align: left;
  }
}
.paint-night__section-text .purple-button {
  width: 100%;
  margin: auto;
  max-width: 400px;
}
@media only screen and (min-width: 1200px) {
  .paint-night__section-text .purple-button {
    max-width: 250px;
    margin: 0;
  }
}
.paint-night__section-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .paint-night__section-image {
    width: 40%;
    position: relative;
    height: fit-content;
  }
}
.paint-night__section-image:hover > .edit-icon {
  display: block;
}
.paint-night__section-image .paint-night-img {
  width: 100%;
  max-width: 500px;
  box-shadow: 7px 10px #ECE1FD;
  border-radius: 8px;
}

.paint-kits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 5%;
}
@media only screen and (min-width: 992px) {
  .paint-kits {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .paint-kits {
    padding: 0 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .paint-kits {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 2000px) {
  .paint-kits {
    padding: 0 25%;
  }
}
.paint-kits-section {
  width: 100%;
  max-width: 700px;
}
@media only screen and (min-width: 992px) {
  .paint-kits-section {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .paint-kits-section__text {
    width: 40%;
  }
}
.paint-kits-section__text .heading-title {
  justify-content: flex-start;
}
.paint-kits-section__text .heading-title .purple-title {
  text-align: left;
}
.paint-kits-section__text-description {
  margin: 20px 0 30px;
}
.paint-kits-section__image {
  display: none;
}
@media only screen and (min-width: 992px) {
  .paint-kits-section__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    height: fit-content;
  }
  .paint-kits-section__image:hover > .edit-icon {
    display: block;
  }
  .paint-kits-section__image-image {
    border-radius: 8px;
    box-shadow: 7px 10px #ECE1FD;
  }
}
.paint-kits .get-paint-kit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  margin: 100px 0;
}
.paint-kits .get-paint-kit-container .get-paint-kit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
@media only screen and (min-width: 1200px) {
  .paint-kits .get-paint-kit-container .get-paint-kit {
    width: 28%;
    max-width: 350px;
    justify-content: space-between;
  }
}
.paint-kits .get-paint-kit-container .get-paint-kit .kit-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.paint-kits .get-paint-kit-container .get-paint-kit .kit-image-container:hover > .edit-icon {
  display: block;
}
.paint-kits .get-paint-kit-container .get-paint-kit .get-kit-link {
  width: 80%;
  max-width: 270px;
}
.paint-kits .get-paint-kit-container .get-paint-kit .get-kit-link .purple-button {
  width: 100%;
}

.about-header {
  position: relative;
  z-index: 900;
  padding: 0px 5%;
}
@media only screen and (min-width: 768px) {
  .about-header {
    padding: 50px 10%;
  }
}
@media only screen and (min-width: 992px) {
  .about-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .about-header {
    padding: 50px 15% 100px;
    max-width: 1500px;
    margin: auto;
  }
}
.about-header__img {
  position: relative;
  height: 400px;
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 15px;
  margin: 30px auto;
  box-shadow: 7px 10px #ECE1FD;
  background-color: #1D1330;
}
@media only screen and (min-width: 992px) {
  .about-header__img {
    width: 40%;
    height: 550px;
    margin: 0;
  }
}
.about-header__img:hover > .edit-icon {
  display: block;
}
@media only screen and (min-width: 992px) {
  .about-header__text {
    width: 50%;
  }
}
.about-header__text .heading-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.about-header__text .heading-title .purple-title {
  font-size: 2rem;
}
.about-header__text p:last-child {
  margin-top: 20px;
}

.about-instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 125px 0;
}
@media only screen and (min-width: 768px) {
  .about-instagram {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .about-instagram {
    padding: 0 15%;
    max-width: 1500px;
    margin: 125px auto;
  }
}
.about-instagram__heading {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media only screen and (min-width: 768px) {
  .about-instagram__heading {
    width: 100%;
  }
}
.about-instagram__heading .heading-title {
  display: flex;
  justify-content: flex-start;
}
.about-instagram__heading .heading-title .purple-title {
  text-align: left;
  font-size: 1.4rem;
  font-family: "Gotham bold";
  max-width: 248px;
}
@media only screen and (min-width: 768px) {
  .about-instagram__heading .heading-title .purple-title {
    max-width: 100%;
    font-size: 1.6rem;
  }
}
.about-instagram__carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-instagram__carousel .instagram-carousel-inner {
  width: 90%;
  display: flex;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .about-instagram__carousel .instagram-carousel-inner {
    width: 100%;
  }
}
.about-instagram__carousel .instagram-carousel-inner .ghost {
  width: 100%;
  aspect-ratio: 1/0.35;
}
.about-instagram__carousel .instagram-carousel-inner .carousel-images {
  position: absolute;
  transition-property: left;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.about-instagram__carousel .instagram-carousel-inner .carousel-images__image {
  width: 32%;
  aspect-ratio: 1/1;
  position: relative;
}
.about-instagram__carousel .instagram-carousel-inner .carousel-images__image:hover > .edit-icon {
  display: block;
}
.about-instagram__carousel .instagram-carousel-inner .insta-left {
  left: -100%;
}
.about-instagram__carousel .instagram-carousel-inner .insta-middle {
  left: 0;
}
.about-instagram__carousel .instagram-carousel-inner .insta-right {
  left: 110%;
}
.about-instagram__carousel .instagram-carousel-inner .insta-editable {
  position: static;
}
.about-instagram__carousel .carousel-editable {
  flex-wrap: wrap;
}

.gallery__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .gallery__option {
    height: 375px;
  }
}
.gallery__option-images {
  width: 300px;
  position: relative;
  height: 200px;
  perspective: 1000px;
}
@media only screen and (min-width: 768px) {
  .gallery__option-images {
    width: 545px;
    height: 250px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__option-images:hover > .option-image:nth-child(1) {
    left: 360px;
  }
  .gallery__option-images:hover > .option-image:nth-child(2) {
    left: 270px;
  }
  .gallery__option-images:hover > .option-image:nth-child(3) {
    left: 180px;
  }
  .gallery__option-images:hover > .option-image:nth-child(4) {
    left: 90px;
  }
  .gallery__option-images:hover > .option-image:nth-child(5) {
    left: 0px;
  }
}
.gallery__option-images .option-image {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5%;
  border-radius: 10px;
  transform: rotate3d(0, 1, 0, -30deg);
  overflow: hidden;
  border: 2px solid #1D1330;
  box-shadow: 3px 10px 10px -10px #2f2e2e;
  transition-duration: 500ms;
  transition-property: left;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .gallery__option-images .option-image {
    border: 4px solid #1D1330;
    height: 200px;
    width: 200px;
  }
}
.gallery__option-images .option-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__option-images .option-image:nth-child(1) {
  left: 160px;
}
@media only screen and (min-width: 768px) {
  .gallery__option-images .option-image:nth-child(1) {
    left: 280px;
  }
}
.gallery__option-images .option-image:nth-child(2) {
  left: 120px;
}
@media only screen and (min-width: 768px) {
  .gallery__option-images .option-image:nth-child(2) {
    left: 210px;
  }
}
.gallery__option-images .option-image:nth-child(3) {
  left: 80px;
}
@media only screen and (min-width: 768px) {
  .gallery__option-images .option-image:nth-child(3) {
    left: 140px;
  }
}
.gallery__option-images .option-image:nth-child(4) {
  left: 40px;
}
@media only screen and (min-width: 768px) {
  .gallery__option-images .option-image:nth-child(4) {
    left: 70px;
  }
}

.gallery-hr {
  width: 90%;
  margin: 0 auto;
  border: none;
  height: 1px;
  background-color: #1d1330;
}

.grid {
  width: 95%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 8px;
  margin: 50px auto;
}
.grid .column {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.grid .column .gallery-image {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.grid .column .gallery-image:hover > .edit-icon {
  display: block;
}
.grid .column .gallery-image .edit-icon {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.grid .column .size-1 {
  height: 100px;
}
.grid .column .size-2 {
  height: 150px;
}
.grid .column .size-3 {
  height: 200px;
}
.grid .column .size-4 {
  height: 300px;
}
.grid .column .size-5 {
  height: 400px;
}
@media only screen and (min-width: 768px) {
  .grid .column .size-1 {
    height: 200px;
  }
  .grid .column .size-2 {
    height: 250px;
  }
  .grid .column .size-3 {
    height: 300px;
  }
  .grid .column .size-4 {
    height: 400px;
  }
  .grid .column .size-5 {
    height: 500px;
  }
}

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(166, 166, 166, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  display: none;
}
.modal .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 4vw;
  max-width: 900px;
  max-height: 85vh;
}
.modal .modal-content .modal-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #ECE1FD;
  cursor: pointer;
}
.modal .modal-content .modal-close-btn-div {
  position: absolute;
  top: 22px;
  left: 8px;
  height: 4px;
  width: 35px;
  background-color: #1D1330;
  transform: rotate(45deg);
}
.modal .modal-content .modal-close-btn-div:last-child {
  transform: rotate(-45deg);
}
.modal .modal-content .modal-img {
  width: 100%;
  max-height: 85vh;
  border-radius: 20px;
  object-fit: cover;
  opacity: 0;
  border: 3px solid black;
  box-shadow: 7px 10px #1D1330;
}

.modal-open {
  display: flex;
}
.modal-open .modal-content .modal-img {
  opacity: 1;
}

.cms .cms-interface {
  position: fixed;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 0 20px;
  background-color: #1D1330;
  z-index: 9000;
}
.cms .cms-interface__banner {
  width: 100%;
  height: 30px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cms .cms-interface__edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.cms .cms-interface__edit-links {
  height: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.cms .cms-interface__edit-links .cms-link, .cms .cms-interface__edit-links .logout-btn {
  width: 170px;
  padding: 3px 7px;
  border: 2px solid white;
  color: white;
  text-align: center;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
.cms .cms-interface__edit-links .cms-link:hover, .cms .cms-interface__edit-links .logout-btn:hover {
  background-color: white;
  color: black;
}
.cms .cms-interface__edit-links .logout-btn {
  background-color: orange;
  color: #1D1330;
  border: none;
}
.cms .cms-interface__edit-links .logout-btn:hover {
  background-color: #1D1330;
  color: orange;
}
.cms .cms-interface__edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 45%;
}
.cms .cms-interface__edit-form .form-input {
  font-size: 1rem;
  padding: 5px 10px;
}
.cms .cms-interface__edit-form .form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
}
.cms .cms-interface__edit-form .form-buttons .cms-form-btn {
  padding: 15px 30px;
  border: 1px solid #1D1330;
  border-radius: 5px;
  background-color: white;
  transition-property: background-color;
  transition-duration: 300ms;
  cursor: pointer;
}
.cms .cms-interface__edit-form .form-buttons .cms-form-btn:hover {
  background-color: black;
  color: white;
}
.cms .cms-interface__edit-form .success-message {
  display: none;
  color: rgb(121, 233, 121);
}
.cms .cms-interface__edit-form .fail-message {
  display: none;
  color: rgb(236, 101, 101);
}
.cms .cms-interface__edit .image-upload-form {
  gap: 10px;
  flex-wrap: wrap;
  height: 150px;
}
.cms .cms-interface__edit .image-upload-form__input {
  display: none;
}
.cms .cms-interface__edit .image-upload-form__label {
  width: 245px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}
.cms .cms-interface__edit .image-upload-form__label:hover {
  background-color: rgb(168, 168, 168);
}
.cms .cms-interface__edit .image-upload-form__btn {
  width: 245px;
  height: 40px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}
.cms .cms-interface__edit .image-upload-form__btn:hover {
  transition-property: background-color;
  transition-duration: 300ms;
  background-color: black;
  color: white;
}
.cms .cms-interface__edit .gallery-options {
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 45%;
  gap: 10px;
}
.cms .cms-interface__edit .gallery-options .create-section-btn {
  height: 50px;
  padding: 0 7px;
  border: 2px solid white;
  color: white;
  text-align: center;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
.cms .cms-interface__edit .gallery-options .create-section-btn:hover {
  color: black;
  background-color: white;
}
.cms .cms-interface__edit .gallery-options__message {
  font-size: 1.5rem;
  color: white;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form__input {
  display: none;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form input[type=text] {
  height: 40px;
  font-size: 1rem;
  padding: 10px;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form__label {
  width: 245px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form__label:hover {
  background-color: rgb(168, 168, 168);
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form__label img {
  width: 20px;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form__btn {
  width: 245px;
  height: 40px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}
.cms .cms-interface__edit .gallery-options .gallery-upload-form__btn:hover {
  transition-property: background-color;
  transition-duration: 300ms;
  background-color: black;
  color: white;
}
.cms .cms-interface__edit .gallery-options .files-selected-form {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.cms .cms-interface__edit .gallery-options .remove-photos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.cms .cms-interface__edit .gallery-options .remove-photos p {
  color: white;
}
.cms .cms-interface__edit .gallery-options .remove-photos .cms-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(166, 166, 166, 0.5);
}
.cms .cms-interface__edit .gallery-options .remove-photos .cms-modal__body {
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: white;
}
.cms .cms-interface__edit .gallery-options .remove-photos .cms-modal__body-text {
  color: #1D1330;
}
.cms .cms-interface__edit .gallery-options .remove-photos .cms-modal__body-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cms .cms-interface__edit .gallery-options .remove-photos .cms-modal__body-buttons .cms-modal__btn {
  border: none;
  width: 45%;
  padding: 10px 0;
  background-color: #1D1330;
  color: white;
  transition-property: background-color;
  transition-duration: 300ms;
  cursor: pointer;
  font-family: "Gotham Book", sans-serif;
  font-size: 1rem;
}
.cms .cms-interface__edit .gallery-options .remove-photos .cms-modal__body-buttons .cms-modal__btn:hover {
  background-color: white;
  color: #1D1330;
}
.cms .cms-interface__edit .gallery-options .remove-photos-btn {
  width: 245px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Gotham Book", sans-serif;
}
.cms .cms-interface__edit .gallery-options .remove-photos-btn:hover {
  background-color: rgb(168, 168, 168);
}
.cms .cms-interface__edit .gallery-options .remove-photos-btn img {
  width: 20px;
}
.cms .cms-interface__edit .files-chosen p {
  color: white;
}
.cms .editable-area {
  transform: translateY(200px);
  overflow-y: scroll;
  height: calc(100vh - 200px);
}

.editable:hover {
  border: 2px solid red;
  cursor: pointer;
}

.link-disabled {
  pointer-events: none;
}

.button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ECE1FD;
}
.login__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 320px;
  padding: 30px 0;
  background-color: white;
  box-shadow: 5px 5px 21px -12px #1D1330;
}
.login__body-header {
  font-size: 2rem;
  font-family: "Gotham Ultra", sans-serif;
  color: #5B28B5;
  transform: rotate(-1deg);
}
.login__body .login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login__body .login-form__input {
  padding: 3px;
  border: none;
  border-bottom: 1px solid #1D1330;
  text-align: center;
  font-size: 1rem;
}
.login__body .login-form .reset-code-input::-webkit-outer-spin-button, .login__body .login-form .reset-code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login__body .login-form .reset-code-input input[type=number] {
  -moz-appearance: textfield;
}
.login__body .login-form__button {
  margin-top: 20px;
  padding: 10px;
  background-color: #1D1330;
  color: #ECE1FD;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 300ms;
}
.login__body .login-form__button:hover {
  background-color: #ECE1FD;
  color: #1D1330;
  border: 1px solid #1D1330;
}
.login__body .error-msg {
  width: 80%;
  color: rgb(196, 70, 70);
}
.login__body .success-msg {
  color: rgb(95, 196, 70);
}
.login__body .forgot-password {
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}
.login__body .forgot-password:hover {
  opacity: 0.7;
}