.footer {
  @include flex_centered(column);
  align-items: flex-start;
  gap: 50px;
  padding: 50px 10%;
  background-color: $dark_purple;
  @include responsive($tablet) {
    align-items: center
  }
  @include responsive($tablet_large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 150px 10%;
  }

  .footer-text, .footer-title {
    color: $light_purple;
  }

  .footer-text {
    font-size: 1rem;
    @include responsive($tablet_large) {
      font-size: .7rem
    }
  }

  .footer-section {
    @include flex_centered(column);
    align-items: flex-start;
    gap: 15px;
    @include responsive($tablet) {
      align-items: center
    }
    @include responsive($tablet_large) {
      align-items: flex-start
    }

    .hours-content {
      @include flex_centered(column);
      align-items: flex-start;
      gap: 15px;
    }
    .contact-item {
      .contact-link{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .social-icons-container {
      display: flex;
      gap: 20px;
    }
  }
  .footer-hours {
    @include responsive($tablet_large) {
      flex-direction: row;
    }
  }
}
 



















