.gallery__option {
    @include responsive($tablet) {
        height: 375px;
    }
    @include flex_centered(column);
    &-images {
        width: 300px;
        position: relative;
        height: 200px;
        perspective: 1000px;
        @include responsive($tablet) {
            width: 545px;
            height: 250px;
        }
        @include responsive($desktop) {
            &:hover > .option-image{

                &:nth-child(1) {
                    left: 360px;
                }
                &:nth-child(2) {
                    left: 270px;
                }
                &:nth-child(3) {
                    left: 180px;
                }
                &:nth-child(4) {
                    left: 90px;
                }
                &:nth-child(5) {
                    left: 0px;
                }

            }
        }

        .option-image {
            position: absolute;
            width: 100px;
            height: 100px;
            margin: 5%;
            border-radius: 10px;
            transform: rotate3d(0, 1, 0, -30deg);
            overflow: hidden;
            border: 2px solid $dark_purple;
            box-shadow: 3px 10px 10px -10px #2f2e2e;
            transition-duration: 500ms;
            transition-property: left;
            cursor: pointer;
            @include responsive($tablet) {
                border: 4px solid $dark_purple;
                height: 200px;
                width: 200px;
            }
            
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:nth-child(1) {
                left: 160px;
                @include responsive($tablet) {
                    left: 280px;
                }
            }
            &:nth-child(2) {
                left: 120px;
                @include responsive($tablet) {
                    left: 210px;
                }
            }
            &:nth-child(3) {
                left: 80px;
                @include responsive($tablet) {
                    left: 140px;
                }
            }
            &:nth-child(4) {
                left: 40px;
                @include responsive($tablet) {
                    left: 70px;
                }
            }
        }
    }
}
.gallery-hr {
    width: 90%;
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: #1d1330;
}
.grid {
    width: 95%;
    max-width: 900px;
    @include flex_centered(row);
    align-items: flex-start;
    gap: 8px;
    margin: 50px auto;

    .column {
        width: 47%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .gallery-image {
            width: 100%;
            position: relative;
            cursor: pointer;

            &:hover > .edit-icon {
                display: block;
            }
            .edit-icon {
                display: none;
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 10px;
                background-color: white;
                border-radius: 8px;
                cursor: pointer;
            }
        }
        .size-1{
            height: 100px;
        }
        .size-2{
            height: 150px;
        }
        .size-3{
            height: 200px;
        }
        .size-4 {
            height: 300px;
        }
        .size-5{
            height: 400px;
        }
        @include responsive($tablet){
            .size-1{
                height: 200px;
            }
            .size-2{
                height: 250px;
            }
            .size-3{
                height: 300px;
            }
            .size-4 {
                height: 400px;
            }
            .size-5{
                height: 500px;
            }
        }
    }
    // .column {
    //     flex: 43%;
    //     margin: 0 5px;
    //     @include responsive($tablet_large){
    //         flex: 30%;
    //         margin: 0 10px;        
    //     }

    //     &-item {
    //         background: grey;
    //         margin-top: 5px;
    //         @include responsive($tablet_large){
    //             margin-top: 20px;
    //         }
    //         border-radius: 10px;
    //         background-size: cover;
    //         width: 100%;
    //         object-fit: cover;
    //         cursor: pointer;
    //     }
    // }
}
 