.grid {
    width: 95%;
    max-width: 900px;
    @include flex_centered(row);
    align-items: flex-start;
    gap: 8px;
    margin: 50px auto;

    .column {
        width: 47%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .gallery-image {
            width: 100%;
            position: relative;
            cursor: pointer;

            &:hover > .edit-icon {
                display: block;
            }
            .edit-icon {
                display: none;
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 10px;
                background-color: white;
                border-radius: 8px;
                cursor: pointer;
            }
        }
        .size-1{
            height: 100px;
        }
        .size-2{
            height: 150px;
        }
        .size-3{
            height: 200px;
        }
        .size-4 {
            height: 300px;
        }
        .size-5{
            height: 400px;
        }
        @include responsive($tablet){
            .size-1{
                height: 200px;
            }
            .size-2{
                height: 250px;
            }
            .size-3{
                height: 300px;
            }
            .size-4 {
                height: 400px;
            }
            .size-5{
                height: 500px;
            }
        }
    }
    // .column {
    //     flex: 43%;
    //     margin: 0 5px;
    //     @include responsive($tablet_large){
    //         flex: 30%;
    //         margin: 0 10px;        
    //     }

    //     &-item {
    //         background: grey;
    //         margin-top: 5px;
    //         @include responsive($tablet_large){
    //             margin-top: 20px;
    //         }
    //         border-radius: 10px;
    //         background-size: cover;
    //         width: 100%;
    //         object-fit: cover;
    //         cursor: pointer;
    //     }
    // }
}
 