.purple-button {
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-family: "Gotham Medium";
    font-size: 1rem;
    color: white;
    background: $purple;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 300ms;
    @include responsive($desktop) {
        padding: 15px 30px;
        font-size: .8rem;
        letter-spacing: 2px;
    }


    &:hover {
        background-color: $dark_purple;
    }
}
