
.controls {
    min-width: 320px;
    max-width: 400px;
    width: 90%;
    margin: 30px auto;
    @include responsive($tablet_large) {
        width: 400px;
        margin: 0;
    }

    .selectors {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include responsive($tablet_large){
            width: 250px;
            margin: 20px auto -55px;
        }

        div {
            height:8px;
            width: 30%;
            border-radius: 50px;
            background: #EBEBEB;
            margin: 0 3px;
        }
        
        .selector-active {
            background-color: $dark_purple;
        }
    }
    .arrows {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .arrow-left,
        .arrow-right {
            @include flex_centered(row);
            height: 60px;
            width: 60px;
            border-radius: 50px;
            background: $light_purple;
            cursor: pointer;
        }
    }
}














