// *************  COLORS  *******************
 
$purple: #5B28B5;
$light_purple: #ECE1FD;
$dark_purple: #1D1330;


// *************  BREAKPOINTS  *******************

$tablet: 768px;
$tablet_large: 992px;
$desktop: 1200px;
$desktop_large: 1700px;
$desktop_xl: 2000px;