.paint-night{
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
  @include responsive($tablet_large){
    padding: 0 10%;
  }
  @include responsive($desktop){
    padding: 0 15%;
  }
  @include responsive($desktop_large){
    padding: 0 20%;
  }
  @include responsive($desktop_xl){
    padding: 0 25%;
  }

  &__section {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    @include responsive($desktop){
      flex-direction: row;
      justify-content: space-between;
    }

    &-text {
      display: flex;
      flex-direction: column;
      @include responsive($desktop) {   
        width: 40%;
      }
      .heading-title {
        @include responsive($desktop) {
          justify-content: flex-start;
        }
      }
      &-description {
        margin: 20px 0 50px;
        text-align: center;
        @include responsive($desktop) {
          text-align: left;
        }
      }
      .purple-button {
        width: 100%;
        margin: auto;
        max-width: 400px;
        @include responsive($desktop){
          max-width: 250px;
          margin: 0;
        }
      }
    }
    &-image {
      @include flex_centered(row);
      @include responsive($desktop){
        width: 40%;
        position: relative;
        height: fit-content;
      }
      &:hover > .edit-icon {
        display: block;
      }
      .paint-night-img {
        width: 100%;
        max-width: 500px;
        @include box-shadow($light_purple);
        border-radius: 8px;
      }
    }
  }
}