.site-path {
  width: 100%;
  
  &__text {
    color: $dark_purple;
    font-size: .9rem;
  }
}
.bullet-point {
  padding-left: 2%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  
  &__circle {
    height: 15px;
    min-width: 15px;
    border-radius: 50%;
    background-color: $purple;
    transform: translateY(5px)
  }
}
.private-parties {
  
  .site-path {
    padding: 0 5%;
    @include responsive($tablet_large){
      padding: 0 10%;
    }
    @include responsive($desktop){
      padding: 0 15%;
    }
    @include responsive($desktop_large){
      padding: 0 20%;
    }
    @include responsive($desktop_xl){
      padding: 0 25%;
    }
  }
  .private-parties-section {
    margin: 50px auto;
    max-width: 850px;
    @include flex_centered(column);
    padding: 0 5%;

    @include responsive($tablet_large) {
      padding: 0 10%;
    }
    @include responsive($desktop) {
      padding: 0 15%;
      @include flex_centered(row);
      justify-content: space-between;
      max-width: 100%;
    }
    @include responsive($desktop_large) {
      padding: 0 20%;
    }
    @include responsive($desktop_xl) {
      padding: 0 25%;
    }

    &__text {
      @include responsive($desktop){
        width: 40%;
      }

      .heading-title {
        justify-content: flex-start;
        
        .purple-title {
          text-align: left;
        }
      }
      &-description {
        margin: 20px 0 30px;
      }
    }
    &__images {
      display: none;
      @include responsive($desktop) {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .image-container {
          position: relative;

          &:hover > .edit-icon {
            display: block;
          }
          .section-image {
            @include box-shadow($light_purple);
            border-radius: 8px;
          }
        }
      }
    }
  }
  .purple-button {
    margin-bottom: 70px;
  }
}