.cms {
  .cms-interface {
    position: fixed;
    height: 200px;
    width: 100%;
    @include flex_centered(column);
    justify-content: flex-start;
    gap: 20px;
    padding: 0 0 20px;
    background-color: $dark_purple;
    z-index: 9000;

    &__banner {
      width: 100%;
      height: 30px;
      background-color: orange;
      @include flex_centered(row);
    }

    &__edit {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;

      &-links {
        height: 170px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;

        .cms-link {
          width: 170px;
          padding: 3px 7px;
          border: 2px solid white;
          color: white;
          text-align: center;
          background: none;
          cursor: pointer;
          font-size: 1rem;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
      &-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        min-width: 45%;
        
        .form-input {
          font-size: 1rem;
          padding: 5px 10px;
        }
 
        .form-buttons {
          @include flex_centered(row);
          justify-content: flex-start;
          width: 100%;
          gap: 30px;

          .cms-form-btn {
            padding: 15px 30px;
            border: 1px solid $dark_purple;
            border-radius: 5px;
            background-color: white;
            transition-property: background-color;
            transition-duration: 300ms;
            cursor: pointer;
            
            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
        .success-message {
          display: none;
          color: rgb(121, 233, 121);
        }
        .fail-message {
          display: none;
          color: rgb(236, 101, 101);
        }
      }
      .image-upload-form {
        gap: 10px;
        flex-wrap: wrap;
        height: 150px;

        &__input {
          display: none;
        }
        &__label {
          width: 245px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: white;
          cursor: pointer;
  
          &:hover {
            background-color: rgb(168, 168, 168);
          }
        }
        &__btn {
          width: 245px;
          height: 30px;
          border: none;
          font-size: .9rem;
          cursor: pointer;

          &:hover {
            transition-property: background-color;
            transition-duration: 300ms;
            background-color: black;
            color: white;
          }

        }
      }
      .gallery-options {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        gap: 10px;

        .gallery-upload-form {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__input {
            display: none;
          }
          &__label {
            width: 245px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: white;
            cursor: pointer;
    
            &:hover {
              background-color: rgb(168, 168, 168);
            }
          }
          &__btn {
            width: 245px;
            height: 30px;
            border: none;
            font-size: .9rem;
            cursor: pointer;
  
            &:hover {
              transition-property: background-color;
              transition-duration: 300ms;
              background-color: black;
              color: white;
            }
  
          }
        }
        .remove-photos {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;

          p {
            color: white;
          }

          .cms-modal {
            @include flex_centered(row);
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(166, 166, 166, .5);

            &__body {
              height: 200px;
              width: 350px;
              @include flex_centered(column);
              justify-content: space-between;
              padding: 30px;
              background-color: white;

              &-text {
                color: $dark-purple;
              }
              &-buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .cms-modal__btn {
                  border: none;
                  width: 45%;
                  padding: 10px 0;
                  background-color: $dark-purple;
                  color: white;
                  transition-property: background-color;
                  transition-duration: 300ms;
                  cursor: pointer;
                  font-family: "Gotham Book", sans-serif;
                  font-size: 1rem;

                  &:hover {
                    background-color: white;
                    color: $dark-purple;
                  }
                }
              }
            }
          }
        }
        .remove-photos-btn {
          width: 245px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: white;
          border: none;
          cursor: pointer;
          font-size: 1rem;
          font-weight: lighter;
          font-family: "Gotham Book", sans-serif;

          &:hover {
            background-color: rgb(168, 168, 168);
          }
        }
      }
      .files-chosen {
        p {
          color: white;
        }
      }
    }
  }
  .editable-area {
    transform: translateY(200px);
    overflow-y: scroll;
    height: calc(100vh - 200px);
  }
}

.editable:hover {
  border: 2px solid red;
  cursor: pointer;
}

.link-disabled {
  pointer-events: none;
}
.button-disabled {
  pointer-events: none;
  opacity: .5;
}